/* Empty. Add your own CSS if you like */
.loginPage{
    background: url("../img/loginBackground.jpg") no-repeat;
    background-size: cover;
    background-position: center bottom;
}
.bookingsPage{
  background: url("../img/ordersBackground.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
.loginItem{
    background: none;
    /* background-color: #fff; */
    color: white;
    position: relative;
    z-index: 2;
    margin: -1px;
    border:none;
    /* border-width: 1px; */
    border-bottom: 1px solid #ddd;
    font-weight: 300 !important;
}
.loginText{
  color:white !important;
}
.searchBar{
  margin-top: 50px;
  margin-bottom:10px;

}
.searchBox{
  float:left;
  width:65%;
  height:40px;
  padding-top:0px;
}
.searchButton{
  float:right;
  width:30%;
  height:34px !important;
  min-height: 40px;
  line-height: 40px;
}
#map{
  width: 96%;
  margin-left:auto;
  margin-right:auto;
    height:350px;
    top:20px !important;
}
@media (min-height: 500px) {
  .loginForm{
    width:90%;
    margin-left: auto;
    margin-right:auto;
    max-width:600px;
    margin-top:20%;
  }
}
@media (max-height: 499px) {
  .loginForm{
    width:90%;
    margin-left: auto;
    margin-right:auto;
    max-width:600px;
  }
}
.ordersForm{
  width:96%;
  margin-left: auto;
  margin-right:auto;
  max-width:600px;
  margin-top:5%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}
.clientCancel{
  width:90%;
}
.taxiInfo{
  line-height: 20px;
  font-size:20px;
  letter-spacing: 1px;
}
.clientMessage{
  font-size:13px;
  line-height:30px !important;
  letter-spacing:1px;
}
.clientMessage2{
  font-size:13px;
  line-height:30px !important;
  letter-spacing:1px;
  display:none;
}
.clientCancel{
  margin-top:0px;
}
.waiting{
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width:100%;
  text-align:center;
  height:100px;
  line-height:50px;
  color:white;
  font-weight:300;
  letter-spacing: 1px;
  font-size:20px;
}
