<ion-modal-view class ="loginPage" >
  <ion-header-bar class="bar-clear" >
    <h1 class="title" style = "width:100%;text-align:center;font-weight:300;letter-spacing:2px;" >TAXI MAN</h1>
  </ion-header-bar>
  <ion-content style ="margin-top:20px;">

    <form ng-submit="doLogin()" ng-controller="LoginCtrl" class = "loginForm">
      <h5 style = "height:50px;width:100%;line-height:50px;font-size:15px;text-align:center;color:white;font-weight:400">
        {{message}}
      </h5>
      <div class="list">
        <label class="item item-input loginItem">
          <span class="input-label loginText">Username</span>
          <input type="text" name = "username" ng-model="username" class = "loginText">
        </label>
        <label class="item item-input loginItem">
          <span class="input-label loginText">Password</span>
          <input  type="password" name = "password" ng-model="password" class = "loginText">
        </label>
        <label class="" >
          <button class="button button-block button-positive" type="submit" value = "Log in" style = "font-weight:300">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
