<ion-view title="My orders" >
<ion-content class = "ordersPage">
  <div class = "waiting waitingMessage">
    &nbsp&nbsp&nbspWAITING FOR ORDERS...
  </div>
  <div class = "decisionButtons driverMessage2">
    <span class = "clientDetails">Client needs your service!<br>
        Name: {{client_name}}<br>
        Phone: {{client_number}}<br>
        Location: {{client_pickup}}</br>
    </span><br></br>

    <button class = "button button-balanced rideControl" style = "width:45% !important;" ng-click = "acceptMission()">Accept</button>
    <button class = "button button-assertive rideControl" style = "width:45% !important;" ng-click = "rejectMission()">Reject</button>
    </div>
  </div>
  <div class = "waiting rideControls">
    <div class = "rideSum">0.0</div>
    <span class = "driverMessage">Your client is waiting for you!</span><br>
    <button class = "button button-balanced startRide rideControl" ng-click = "startRide()">Start ride</button>
    <button class = "button button-assertive endRide rideControl" ng-click = "endRide()">End</button>
    <button class = "button button-positive finishRide rideControl" ng-click = "finishRide()">Finish</button>
    </div>
  </div>
</ion-content>
</ion-view>
