<ion-view title="New booking" class ="bookingsPage" ng-controller="BookingsCtrl">
  <ion-content padding="true" class="has-header" >
    <form   class = "ordersForm" style = "display:block">
      <label class="item item-input loginItem">
        <span class="input-label loginText">Name</span>
        <input type="text"  id = "clientName" ng-model="name" name="name-input" placeholder="" class ="loginText">
      </label>
      <label class="item item-input loginItem">
        <span class="input-label loginText">Phone Number</span>
        <input type="text" id = "clientPhone" ng-model="phoneNumber" name="phone-input" placeholder="" class ="loginText">
      </label>
      <label class="item item-input loginItem" style = "visibility:hidden;height:0px !important;">
        <span class="input-label loginText">Latitude</span>
        <input id="latitude" type="text" ng-model="latitude" name="lat-input" placeholder="" class ="loginText">
      </label>
      <label class="item item-input loginItem" style = "visibility:hidden;height:0px !important;">
        <span class="input-label loginText">Longitude</span>
        <input  id="longitude" type="text" ng-model="longitude" name="lng-input" placeholder="" class ="loginText">
      </label>
      <button  name="submit-coord" id="submit-coord" class="button button-block  button-positive" ng-click="submit()" style = "margin-top:30px">Submit request!</button>
      <div class = "searchBar">
      <label class="item item-input loginItem searchBox">
        <input  autocomplete = "off" id="address" type="text" ng-model="address" name="address_input" placeholder="Address" class ="loginText">
      </label>
      <button class = "button button-positive searchButton" ng-click="searchAddress()">Search</button>
      </div>
        <div id="map"></div>
    </form>
    <div class = "waiting processingMessage">
        Booking is sent to our drivers!
    </div>
    <div class = "waiting clientRiding">
      <div class = "taxiInfo" style = "">
        {{taxi_info}}<br><br>
        {{eta}}<br><br><br></div>
        <div class = "clientMessage">Please wait for your taxi to arrive!
          <button class = "button button-dark clientCancel" ng-click = "cancelRide()">Cancel</button></div>
        <div class = "clientMessage2">Have a wonderful day!
            <button class = "button button-positive clientCancel" ng-click = "newOrder()">New Order</button></div>
    </div>
    </div>
  </ion-content>
</ion-view>
