/* Empty. Add your own CSS if you like */
.loginPage{
    background: url("../img/loginBackground.jpg") no-repeat;
    background-size: cover;
    background-position: center bottom;
}
.ordersPage{
  background: url("../img/ordersBackground.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
.loginItem{
    background: none;
    /* background-color: #fff; */
    color: white;
    position: relative;
    z-index: 2;
    margin: -1px;
    border:none;
    /* border-width: 1px; */
    border-bottom: 1px solid #ddd;
    font-weight: 300 !important;
}
.loginText{
  color:white !important;
}
@media (min-height: 500px) {
  .loginForm{
    width:90%;
    margin-left: auto;
    margin-right:auto;
    max-width:600px;
    margin-top:20%;
  }
}
@media (max-height: 499px) {
  .loginForm{
    width:90%;
    margin-left: auto;
    margin-right:auto;
    max-width:600px;
  }
}

.waiting{
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width:100%;
  text-align:center;
  height:100px;
  line-height:50px;
  color:white;
  font-weight:300;
  letter-spacing: 1px;
  font-size:20px;
}
.driverMessage2{
  display: none;
}
.clientDetails{
  display:block;
}
.decisionButtons{
  margin: auto;
  position: absolute;
  left: 0; right: 0;
  width:100%;
  text-align:center;
  height:100px;
  line-height:50px;
  color:white;
  margin-top: 100px;
  font-weight:300;
  letter-spacing: 1px;
  font-size:15px;
}
.endRide{
  display:none;

}
.finishRide{
  display:none;
  width:90% !important;
}
.rideControls{
  display:none;
}
.rideControl{
  width:80%;
  display:inline-block;
}
.rideSum{
  height: 140px;
    line-height: 140px;
    margin-top: -50px;
    width: 100%;
    font-size: 100px;
    font-weight: 500;
}
