<ion-modal-view on-double-tap="closeModal()" id="driverModal">
  <ion-header-bar class="bar-stable">
    <div class="buttons">
      <button class="button button-stable button-clear " ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content padding="true" scroll="false" class="has-header">
    <ion-list>
      <ion-item>
        {{message}}
      </ion-item>
      <ion-item>
        <span>Name:</span>
        <span>{{client_name}}</span>
      </ion-item>
      <ion-item>
        <span>Phone Number:</span>
        <span>{{client_number}}</span>
      </ion-item>
      <ion-item>
        <span>Pickup Location:</span>
        <span>{{client_pickup}}</span>
      </ion-item>
    </ion-list>
    <div class="buttons">
      <button class="button button-stable" ng-click="acceptMission()">I'm on it!</button>
      <button class="button button-stable" ng-click="rejectMission()">NNNOPE</button>
    </div>
  </ion-content>
</ion-modal-view>
